.container{
    max-width: 46rem;
    margin: -1.7rem auto;
}

.btnAdd{
    display: flex;
    align-items: center;
    padding: 16px;
    height: 3.25rem;
    justify-content: space-between;
    width: 95px;
    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;

    border: none;
    cursor: pointer;

    transition: 0.2s background-color;
    

}

.btnAdd:hover:not(:disabled) {
    background-color: var(--blue);
}

.btnAdd:disabled {
    cursor: not-allowed;
}

.formStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 4.06rem;
}

.formStyle > input {
    width: 46rem;
    height: 3.25rem;
    border-radius: 8px;
    background-color: var(--gray-400);
    border: none;
    padding-left: 1rem;
    color: var(--gray-100);
}


.formStyle > input:focus{
    border: 1px solid var(--purple-dark);
}

.containerTaskConclude {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;
    
    margin-bottom: 1.5rem;
}

.taskCreated strong{
    color: var(--blue);
    font-size: bold;
    margin-right: 8px;
}

.taskCreated span{
    color: var(--gray-100);
    background-color: var(--gray-400);
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 19px;
}

.taskConclude strong{
    color: var(--purple);
    font-size: bold;
    margin-right: 8px;
}


.taskConclude span{
    color: var(--gray-100);
    background-color: var(--gray-400);
    padding: 4px 8px;
    border-radius: 16px;
}

@media (max-width: 768px){
 
    html{
       font-size: 87.5%;
    }
    .formStyle {
       flex-direction: column;
    }
    .formStyle input {
        width: 100%;
    }
    .btnAdd {
        width: 100%;
    }

    .container{
        width: 100%;
        max-width: 40rem;
        padding: 0 1rem;
    }
 }