.container{
    height: 4.5rem;
    background: var(--gray-400);
    border-radius: 8px;
    padding: 1rem 1rem 0.5rem 1rem ;
    display: flex;
    align-items: start;
    justify-content: center;
    color: var(--gray-100);
    margin-bottom: 0.83rem;
}

.container p {
    font-size: 400;
    line-height: 1.6;
    flex: 1;
    margin-left: 20px;
}

.round {
    position: relative;
  }
  
  .round label {
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    margin-top: 4px;
  }

  .round label:hover {
    border: 2px solid var(--blue-dark);
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 9px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);
  }

  .round input[type="checkbox"]:checked + label:hover {
    background-color: var(--purple);
    border: 2px solid var(--purple);

  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .trash{
    color: var(--gray-300);
    cursor: pointer;
    margin-top: 4px;
    transition: 0.2s color;
  }

  .trash:hover{
    color: var(--danger);
  }

  .listDone{
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem;
    color: var(--gray-300);
  }


  @media (max-width: 768px){
    .container{
      height: 7rem;
    }
  }